[mysqld]

# avoid running as root
user=mysql

# make sure we use the right socket
socket=/var/run/mysqld/mysqld.sock

# smaller pool (for 1Gb server instances)
innodb_buffer_pool_size = 16M

# use InnoDB
default-storage-engine = InnoDB

# turn off scheduler
event-scheduler = off
